<ul class="list-inline">
  <li><%= link_to "Sign out", sign_out_path %></li>
  <li><%= link_to "My profile", edit_teacher_path(current_teacher) %></li>
  <li><%= link_to "Bills", bills_path %></li>
</ul>
