<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <div class="padded text-center">
        <h1>Welcome on TA easy bill !</h1>
        <%= link_to '/auth/github' do %>
          <div class="btn">
            <i class="fa fa-github-square"></i> Sign in with GitHub
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

