<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <div class="padded-5em text-center">
        <h1>Welcome on TA easy bill !</h1>
        <div class="padded-3em">
          <%= link_to '/auth/github' do %>
            <div class="btn btn-lg btn-success">
              <i class="fa fa-github-square"></i> Sign in with GitHub
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

