/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-5em {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-3em {
  padding-top: 3em;
  padding-bottom: 3em;
}
.padded-1em {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Font-style
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
